<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>({{ count }}) Counter</title>
        {{ uikitCss | safe }} <link rel="icon" type="image/png" href="/node.png">
    </head>
    <body>
        <section class="uk-container">
            <h1>The count is: {{ count }}
            </h1>
            {% if (count> 10) %}
                <h2>
                    WHOAH!</h2>
            {% endif %}
            <p>
                <button id="button">Increment it</button>
            </p>
            <p>This page is using UIKit:
                <code>{{ uikitCss }}</code>
            </p>
            {% if (count> 0) %}
                <ul>
                    {% for cnt in counts %}
                        <li>
                            {{ cnt }} bottles on the wall
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
        <script>
            document.getElementById('button').addEventListener('click', () => {
                fetch('/inc', {method: 'post'}).then(() => {
                    location.reload()
                })
            })
        </script>
    </body>
</html>